@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ion-color-primary: #447766;
    --selection-bg-color: #669977;
    --selection-text-color: #fff;
}

::selection {
    background: var(--selection-bg-color);
    color: var(--selection-text-color);
}

body {
    padding: var(--ion-safe-area-top) var(--ion-safe-area-right) var(--ion-safe-area-bottom) var(--ion-safe-area-left);
}

.bg-pattern {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ddd9e5' fill-opacity='0.22'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

.fade-enter-active,
.fade-leave-active {
    @apply origin-center transition-all duration-1000 h-40 opacity-100 scale-y-100;
}

.fade-enter-from,
.fade-leave-to {
    @apply origin-center transition-all duration-500 h-0 opacity-60 scale-y-0;
    opacity: 0;
    height: 0;
}

.unwrap-enter-active,
.unwrap-leave-active {
    @apply origin-center transition-all duration-500 opacity-100 scale-x-100;
}

.unwrap-enter-from,
.unwrap-leave-to {
    @apply origin-center transition-all duration-200 opacity-60 scale-x-0;
}

.action-sheet-selected {
    color: var(--ion-color-primary) !important;
}

.action-sheet-selected .action-sheet-button-inner {
    padding-left: 0.25rem !important;
    color: var(--ion-color-primary) !important;
}

.action-sheet-selected .action-sheet-button-inner::before {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.5rem;
    color: var(--ion-color-primary) !important;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M464 128L240 384l-96-96M144 384l-96-96M368 128L232 284'/%3E%3C/svg%3E");
}

.action-sheet-cancel {
    color: red !important;
}
