<template>
  <ion-page>
    <ion-content :fullscreen="true" class="min-h-screen">
      <div class="flex items-top pt-12 px-6 justify-center min-h-screen bg-pattern">
        <div class="w-full max-w-md text-center">
          <ion-img src="assets/logo.svg" alt="logo" class="mx-auto w-32 mb-8"></ion-img>
          <ion-button fill="outline"
                      shape="round"
                      class="mb-8"
                      @click="reset"
          >
            <ion-icon slot="start" :icon="refreshOutline"></ion-icon>
            Start again
          </ion-button>
          <div class="relative">
            <PagePrompt :step="step1 ? 1 : step2 ? 2 : step3 ? 3 : step4 ? 4 : 5"></PagePrompt>
          </div>
          <div class="relative h-40">
            <Transition name="fade">
              <div v-show="step1" class="absolute inset-0">
                <ion-item class="mb-4" :class="{'ion-invalid': invalidLongLink, 'ion-valid': !invalidLongLink}">
                  <ion-label position="floating">Your long link...</ion-label>
                  <ion-input v-model="longLink"
                             @ionChange="validateUrl"
                             @keydown="pressedEnter1"
                             type="url"
                             inputmode="url"
                             :clear-input="true"
                             :autofocus="true"
                             placeholder="https://"
                             id="input1"
                  ></ion-input>
                  <ion-note slot="helper">Enter a valid URL</ion-note>
                  <ion-note slot="error">Invalid URL!</ion-note>
                </ion-item>
                <ion-button shape="round"
                            @click="submit1"
                            :disabled="!longLink.length || invalidLongLink"
                >Next</ion-button>
              </div>
            </Transition>

            <Transition name="fade">
              <div v-show="step2" class="absolute inset-0">
                <ion-item class="mb-4" :class="{'ion-invalid': invalidShortCode, 'ion-valid': !invalidShortCode}">
                  <ion-label position="floating">Optional shortcode...</ion-label>
                  <ion-input v-model="shortCode"
                             @ionChange="validateShortCode"
                             @keydown="pressedEnter2"
                             :clear-input="true"
                             placeholder="anything you like..."
                             id="input2"
                  ></ion-input>
                  <ion-note slot="helper">Optional but not longer than 10 characters</ion-note>
                  <ion-note slot="error">Code is too long or it already exists!</ion-note>
                </ion-item>
                <ion-button shape="round"
                            :disabled="invalidShortCode"
                            @click="submit2"
                >Next</ion-button>
              </div>
            </Transition>

            <Transition name="fade">
              <div v-show="step3" class="absolute inset-0">
                <ion-item class="mb-4">
                  <ion-select interface="action-sheet"
                              placeholder="Remember for"
                              v-model="duration"
                              id="input3"
                              class="w-full custom-select"
                  >
                    <ion-select-option v-for="exp in expiryTimes"
                                       :value="exp.code"
                                       :key="exp.code"
                    >{{ exp.label }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-button shape="round" @click="submit3">Next</ion-button>
              </div>
            </Transition>

            <Transition name="fade">
              <div v-show="step4" class="absolute inset-0">
                <p class="mb-2">Original link: {{ longLink }}</p>
                <p class="mb-2">Shortcode: {{ shortCode ? shortCode : 'random' }}</p>
                <p class="mb-6">{{ duration === 'Forever' ? 'Link will never expire' : 'Link will expire after ' + expiryTimes[duration].label }}</p>
                <ion-button shape="round" @click="submit4">Generate!</ion-button>
              </div>
            </Transition>

            <Transition name="fade">
              <div v-show="step5" class="absolute inset-0 bg-white border border-zinc-400 rounded-md">
                <div class="flex items-center justify-center h-full">
                  <input type="url"
                         @click="selectAll"
                         class="w-full bg-white text-black font-semibold text-center text-lg select-all appearance-none focus:outline-none focus:border-0"
                         id="shortUrl"
                         :value="shortLink"
                         readonly
                  />
                </div>
              </div>
            </Transition>

          </div>

        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonImg,
  IonButton,
  IonItem,
  IonLabel,
  IonInput,
  IonSelect,
  IonSelectOption,
  IonIcon,
  IonNote
} from '@ionic/vue'

import { defineComponent, ref, nextTick } from 'vue'
import { refreshOutline } from 'ionicons/icons'
import { Clipboard } from '@capacitor/clipboard'
import PagePrompt from '@/components/PagePrompt';

export default defineComponent({
  name: 'HomePage',

  components: {
    PagePrompt,
    IonContent,
    IonPage,
    IonImg,
    IonButton,
    IonItem,
    IonLabel,
    IonInput,
    IonSelect,
    IonSelectOption,
    IonIcon,
    IonNote,
  },

  setup() {
    const expiryTimes = {
      Forever: { code: 'Forever', label: 'forever' },
      H12: { code: 'H12', label: '12 hours' },
      D1: { code: 'D1', label: '1 day' },
      W1: { code: 'W1', label: '1 week' },
      W4: { code: 'W4', label: '4 weeks' },
      M6: { code: 'M6', label: '6 months' },
      Y1: { code: 'Y1', label: '1 year' },
    }

    const shortLink = ref('')
    const longLink = ref('')
    const shortCode = ref('')
    const duration = ref('D1')
    const step1 = ref(true)
    const step2 = ref(false)
    const step3 = ref(false)
    const step4 = ref(false)
    const step5 = ref(false)
    const invalidLongLink = ref(false)
    const invalidShortCode = ref(false)

    const focus = (element) => { nextTick(
        () => document.querySelector(`${element} input`)?.focus()
    ) }

    const call = async (endpoint, payload) => {
      return await fetch(`https://2dots.info${endpoint}`, {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload),
      });
    }

    const reset = () => {
      shortLink.value = ''
      longLink.value = ''
      shortCode.value = ''
      duration.value = 'D1'
      invalidLongLink.value = false
      invalidShortCode.value = false
      step1.value = true
      step2.value = false
      step3.value = false
      step4.value = false
      step5.value = false
      focus('#input1')
    }

    const submit1 = () => {
      if (!validateUrl()) {
        return
      }

      step1.value = false
      step2.value = true
      step3.value = false
      step4.value = false
      step5.value = false
      focus('#input2')
    }

    const submit2 = () => {
      if (!validateShortCode()) {
        return
      }

      step1.value = false
      step2.value = false
      step3.value = true
      step4.value = false
      step5.value = false
      focus('#input3')
    }

    const submit3 = () => {
      step1.value = false
      step2.value = false
      step3.value = false
      step4.value = true
      step5.value = false
    }

    const submit4 = async () => {
      step1.value = false
      step2.value = false
      step3.value = false
      step4.value = false

      const response = await call(
          '/create',
          {
            url: longLink.value,
            code: shortCode.value,
            expiry: duration.value,
            service: '2dots-app'
          }
      )

      if (!response.ok) {
        throw new Error('Server responded with an error!')
      }

      const payload = await response.json();

      step5.value = true
      shortLink.value = payload?.fullUrl

      nextTick(async () => await selectAll())
    }

    const validateUrl = () => {
      invalidLongLink.value = false

      if (longLink.value === '') {
        return false
      }

      if (!longLink.value.toLowerCase().match('^https?://.+')) {
        invalidLongLink.value = true
        return false
      }

      return true
    }

    const validateShortCode = async () => {
      invalidShortCode.value = false
      shortCode.value = shortCode.value.trim()

      if (shortCode.value === '') {
        return true
      }

      if (shortCode.value.length > 10) {
        invalidShortCode.value = true
        return false
      }

      const response = await call(
          '/check',
          { code: shortCode.value }
      )

      if (!response.ok) {
        invalidShortCode.value = true
        return false
      }

      return true
    }

    const pressedEnter1 = (event) => event.key === 'Enter' && submit1()
    const pressedEnter2 = (event) => event.key === 'Enter' && submit2()

    const selectAll = async (event) => {
      const element = typeof event === 'undefined' ? document.querySelector('#shortUrl') : event.target
      element.select()
      await Clipboard.write({ url: element.value })
    }

    return {
      longLink,
      invalidLongLink,
      invalidShortCode,
      shortCode,
      shortLink,
      duration,
      step1,
      step2,
      step3,
      step4,
      step5,
      expiryTimes,
      selectAll,
      refreshOutline,
      pressedEnter1,
      pressedEnter2,
      reset,
      submit1,
      submit2,
      submit3,
      submit4,
      validateUrl,
      validateShortCode,
    }
  }
});
</script>
