<template>
  <Transition name="unwrap">
    <div class="absolute inset-0" v-show="step === 1">
      <p>Make any long link shorter. Just paste it into the field below and click on a few button. That's all!</p>
    </div>
  </Transition>
  <Transition name="unwrap">
    <p class="absolute inset-0" v-show="step === 2">Would you like to use your own shortcode? If so, then please type it in...</p>
  </Transition>
  <Transition name="unwrap">
    <p class="absolute inset-0" v-show="step === 3">Would you like the link to expire or should it be active forever?</p>
  </Transition>
  <Transition name="unwrap">
    <p class="absolute inset-0" v-show="step === 4">Thank you very much for your answers! Summary of your choices:</p>
  </Transition>
  <Transition name="unwrap">
    <p class="absolute inset-0 font-bold" v-show="step === 5">GENERATED SHORT URL</p>
  </Transition>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PagePrompt',
  props: { step: Number },
})
</script>
